.roomDetailContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  color: black;
  background: white;
  height: 100%;
  padding: 20px;
  width: 30%;
  overflow-y: scroll;
}

.wrapper {
  max-height: 100%;
}

.box {
  padding: 40px;
  width: 100%;
  border-bottom: 0.5px solid #57595d;
}

.box h3 {
  margin: 5px;
  color: #57595d;
}

h4 {
  color: grey;
}

.activeContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.activeContainer img {
  padding-left: 10px;
}

.activeContainer h3 {
  color: #57595d;
}

.participants {
  font-size: 40px;
}

.dateAndTime {
  font-size: 24px;
}

.startTime {
  font-size: 18px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.leaveChatRoom {
  display: flex;
  justify-content: center;
  flex: 0.5;
  padding: 20% 0;
  border-bottom: 0.5px solid #57595d;
}

.initials {
  width: 50px;
  height: 50px;
  color: #fff;
  background: #989898;
  font-size: 1rem;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.leaveButton {
  width: 100%;
  color: #c40233;
  text-align: center;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 5px;
  transition: 500ms ease;
  border: 1px dashed #c40233;
}

.leaveButton:hover {
  color: #fff;
  background: #c40233;
}

.onlineIcon {
  background: greenyellow;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5%;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
